{$DOMAIN} {
    encode gzip zstd

    redir /v1 /v1/

    handle_path /v1/api/* {
        reverse_proxy vamos-v1-backend:8000
    }

    handle_path /v1/* {
        reverse_proxy vamos-v1-frontend:80
    }

    handle_path /api/* {
        reverse_proxy backend:8000
    }

    handle /docs* {
        reverse_proxy backend:8000
    }

    handle /openapi.json {
        reverse_proxy backend:8000
    }

    handle /health {
        reverse_proxy backend:8000
    }

    handle {
        reverse_proxy frontend:80
    }
}
